/* Your CSS styles go here */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Set background color to black */
    color: rgb(0, 0, 0); /* Set text color to white */
    justify-content: center;
    align-items: center;
}  
/* Example CSS style */
.container {
    display: flex;
    width: 100%; /* Set width of the white box */
    max-width: 1200px; /* Set maximum width of the container */
    height: 600px; /* Set height of the white box */
    background-color: rgb(22, 22, 22); /* Background color of the white box */
    /*margin: 50px auto 0; /* Set margin-top to 50px for spacing */
}
.column {
    flex: 1; /* Make the columns flexible */
    height: 100%; /* Ensure columns take up full height of container */
    background-color: #161616; /* Background color of the columns */
    border-right: 1px solid black; /* Add border between columns */
}
nav {
    background-color: #006054; /* Green color specified by the variable */
    padding: 30px 20px; /* Add padding to the top and bottom of the navbar */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Vertically center navbar items */
}
.nav-left {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

.nav-right {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}
/* Style for the navbar links */
nav a {
    color: white; /* Set link color to white */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 20px; /* Add padding to the left and right of the links */
    margin-left: 20px; /* Add left margin to create space between links */
}
/* Style for the active link */
nav a.active {
    background-color: #12463d; /* Darker green color for active link */
}
/* Style for the logo */
nav img.logo {
    margin-left: 50px;
    height: 150px; /* Set height of the logo */
}