/* Your CSS styles go here */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Set background color to black */
    color: rgb(0, 0, 0); /* Set text color to white */
    justify-content: center;
    align-items: center;
}  
/* Example CSS style */
.container {
    display: flex;
    width: 100%; /* Set width of the white box */
    height: 600px; /* Set height of the white box */
    background-color: rgb(22, 22, 22); /* Background color of the white box */
    /*margin: 50px auto 0; /* Set margin-top to 50px for spacing */
}
.column {
    flex: 1; /* Make the columns flexible */
    height: 100%; /* Ensure columns take up full height of container */
    position: relative;
    background-color: #161616; /* Background color of the columns */
    border-right: 1px solid black; /* Add border between columns */
}
.column img {
    width: 100%; /* Ensure image doesn't exceed container width */
    height: 100%; /* Ensure image doesn't exceed container height */
    display: block; /* Remove extra space below image */
    object-fit: cover;
    margin: 0 auto; /* Center image horizontally */
}
.column .text {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    font-family:'Roboto',sans-serif;
    z-index: 1;
}
.with-circle {
    position: relative;
    overflow: hidden; /* Hide overflowing parts */
}
.circle {
    position: absolute;
    top: 80%; /* Position the circle vertically centered */
    right: -100%; /* Position the circle at the left edge */
    transform: translate(-100%, -100%); /* Center the circle horizontally */
    width: 800px; /* Set the width of the circle */
    height: 800px; /* Set the height of the circle */
    border-radius: 50%; /* Make the circle shape */
    background-color: rgb(20, 18, 18); /* Set the color of the circle */
}
/* Style for the image slider */
nav {
    background-color: #006054; /* Green color specified by the variable */
    padding: 30px 20px; /* Add padding to the top and bottom of the navbar */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Vertically center navbar items */
}
.nav-left {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

.nav-right {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}
/* Style for the navbar links */
nav a {
    color: white; /* Set link color to white */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 20px; /* Add padding to the left and right of the links */
    margin-left: 20px; /* Add left margin to create space between links */
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 2);
    font-size: 20px;
}
/* Style for the active link */
nav a.active {
    background-color: #12463d; /* Darker green color for active link */
}
/* Style for the logo */
nav img.logo {
    margin-left: 50px;
    height: 150px; /* Set height of the logo */
}